
.todo_app{
	background:#1DA1F2;
	color: #FFFFFF;
}

.text_tarea{
	padding: 1% 0%;
}

.btn{
	background:#1DA1F2;
	margin-left: 2%;
	margin-bottom: 1%;
}

.lista{
	background:#1DA1F2;
	margin:3px;
	padding: 1%;
	border:2px solid #FFFFFF;
}

.text_lista{
	margin-left: 2%;
}

.tachado{
	text-decoration: line-through;
}

.corazon{
	color:red;
}

.checkbox{
	margin-right:40%; 
}

.text_lista{
	width: 20%;
}

.glyphicon-trash{
	float: right;

}

.glyphicon-heart{
	float: right;
padding-right: 1%;
}

@media screen and (max-width: 700px){
	#texto{
		overflow-y: scroll;
	}
}